<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
	<link rel="stylesheet" href="css\styletable.css">
	
</head>
<body>
<script src="js\table.js"></script>
<script src="js\client.js"></script>

<table id="mytable">
	<thead><tr id="tableName">
		<th colspan="5">Orari Ligjerata\Ushtrime</th>
	</tr></thead>
	<tbody>
		<tr id="Mon" class="Mon1">
			<td class="week">Hene</td>
			<td id="1" class="orari">
				<a id="link">
					<p class="a">Biznes dhe interneti Ligjerata</p>
				 <p class="b">08:30-10:00 </p> 
				</a>
				 </td>
			<td id="2" class="orari"> 
				<a id="link"><p class="a"> Inxhinierimi i softverit Ligjerata </p>
				<p class="b"> 10:15-11:45</p>
			</a>
				</td>
			<td id="3" class="orari">
				<a id="link"><p class="a"> Shkrim akademik dhe kulture gjuhe </p>
				<p class="b"> 15:00-16:30</p>
			</a>
				</td>
				<td></td>
		</tr>
		<tr id="Tue">
			<td class="week">Marte</td>
			<td class="orari">
				<a id="link"><p class="a">Inxhinierimi i softverit Ushtrime</p>
				 <p class="b">08:00-09:30</p> </a></td>
				<td class="orari"> <a id="link"><p class="a">Procesimi i imazheve Ligjerata</p>
					 <p class="b">10:30-12:00</p> </a>
				</td>
			<td class="orari"> 
				<a id="link">
				<p class="a">Procesimi i imazheve Ushtrime</p>
			<p class="b">12:30-02:00</p> </a>
		</td>
			<td class="orari"> <a id="link"><p class="a">Biznes dhe interneti Ushtime</p>
			 <p class="b">16:30-18:00</p> </a>
		</td>

		</tr>
		<tr id="Wed">
			<td class="week">Merkure</td>
			<td class="orari"> <a id="link"> <p class="a">Programim i distribuar Ushtrime</p>
			 <p class="b">08:00-09:30</p> </a></td>
			<td class="orari"> <a id="link"><p class="a">Programim i distribuar Ligjerata</p>
				<p class="b">10:30-12:00</p>
			</a></td>
			
			<td class="orari"> <a id="link"> <p class="a">Shkrim akademik dhe kulture gjuhe Ushtrime </p>
			 <p class="b">14:15-15:00</p> </a>
			 <td></td>

		</td>
		</tr>
		<tr id="Thur">
			<td class="week">Enjte</td>
			<td   class="orari"> 
				<a id="link">
					<p class="a">Procese Stohastike Ligjerata</p>
				 	<p class="b">14:15-15:00</p>
				</a>
			</td>
			 <td></td>
			 <td></td>
			 <td></td>

			 

			
		</tr>
		<tr id="Fri">
			<td class="week">Premte</td>
			<td class="orari"> <a id="link"><p class="a">Programim i distribuar Ushtrime </p>
				 <p class="b">12:00-13:30</p>
				</a></td>
			 <td></td>
			 <td></td>
			 <td></td>

			
		</tr>
	</tbody>
</table>

<span id="id-ja"><%=user.id%></span>

</body>
</html>