.sidebar {
    /* height: 670px; */
    position: fixed;
    z-index: 1;
    top: 39px;
    left: -211;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    margin-left: 350px;
    display: none;
  }
  table
{
  margin-left: 30px; 
  border-spacing: 50px; 
  text-align: left;
  font-family:helvetica, sans-serif;
  font-size: 18px;
  border-top: solid 1px #CFCFD0;
  color: #A9A9AA;  
}


table thead td
{
  color:#6A88FB;
}
.sidebar p
{
   text-align: left;
  font-family:helvetica, sans-serif;
  font-size: 30px;
  margin-left: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  color:#3D3E3E;


}
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: white;
    padding: 10px 15px;
    border: none;
    float: right;
  }
  
  .openbtn:hover {
    background-color: #f8f9fa;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: end;
    margin-left: -97px;
    display: inline;
  }
