body
{
	background-color:#FFFFFF ; 
}
table
{

	margin-bottom: 100px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	border-spacing: 20px;	
	text-align: left;
	font-family:,helvetica, sans-serif;
	font-size: 16px;

	
}

table thead tr th
{
	
		padding: 10px;
		background-color: #B0D182; 
		border-radius: 5px;
		height: 40px;
		font-weight: bold;
	font-size: 20px;
	color:#6D6D6D;
	
	text-align: center;
	/*box-shadow: 0 0 15px #E9E9E9;*/
	box-shadow: 0 0 15px #B0D182;
	



		
}
table td
{
	width: 250px;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
	
	box-shadow: 0 0 15px #E9E9E9;
	border-radius: 5px;
}
table td a
{
	width: 100%;
	height: 100%;
	text-decoration: none;
	

}
table #Mon td 
{
border-left: solid 3px #F3C290;

}

table #Tue td 
{
border-left: solid 3px #B28ED9;

}

table #Wed td 
{
border-left: solid 3px #F19FB3;

}


table #Thur td 
{
border-left: solid 3px #BB7285;

}

table #Fri td 
{
border-left: solid 3px #B28ED9;

}

table .week
{
	width: 150px;
	border-left: solid 2px #BB7285;
	font-weight: bold;
	font-size: 20px;
	color:#C2C5C8;
	background-color: white: 

	
}
table tbody
{
	background-color: white; 
	
}
td
{
	padding-top: 8px;
}

td .a
{
	text-align: left;

	color: #404142;
}
table #Mon>td>a>.b
{
	text-align: left;


	font-weight: bold;
	color: #F3C290;
	font-size: 15px;

}
table #Mon>.orari:hover 
{
	box-shadow: 0 0 15px #F3C290;

}




table #Tue>td>a>.b
{
	text-align: left;

	color: #B28ED9;
	font-weight: bold;

	font-size: 15px;

}
table #Tue>.orari:hover 
{
	box-shadow: 0 0 15px #B28ED9;

}

table #Wed>td>a>.b
{
	text-align: left;

	color: #F19FB3;
	font-weight: bold;
	
	font-size: 15px;

}
table #Wed>.orari:hover 
{
	box-shadow: 0 0 15px #F19FB3;

}

table #Thur>td> a >.b
{
	text-align: left;

	color: #BB7285;
	font-weight: bold;

	font-size: 15px;

}
table #Thur>.orari:hover 
{
	box-shadow: 0 0 15px #BB7285;

}
table #Fri>td> a>.b
{
	text-align: left;

	color: #B694DB;
	font-weight: bold;

	font-size: 15px;

}
table #Fri>.orari:hover 
{
	box-shadow: 0 0 15px #B694DB;

}


